body {
  font-family: 'Jost', sans-serif;
  background-color: #EBD1A0;
}


h1 {
  font-family: 'Jost', sans-serif;
  color:#D2A658;
  text-transform: uppercase;
  display: block;
  font-size: 44px;
  font-weight: 100;
  line-height: 42px;
  margin-top: 35px;
}

footer {
  margin-top: 22px;
  text-align: center;
}

small {
  color: #D2A658;
  font-size: 14px;

}

small a {
  text-decoration: none;
  color: #D2A658;
  transition: all 200ms ease-in-out;
}

small a:hover {
  background: #D2A658;
  color: #Ffffff;
  padding: 0 10px;
  border-radius: 5px;
}

ul {
margin: 0;
padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #D2A658;  
  font-size: 18px;
  font-weight: 100;
  line-height: 19px;
}

li:first-letter {
  text-transform: capitalize;
}

input {
  margin-top: 15px;
}


.weather-app-wrapper {
  max-width: 600px;
  max-height: fit-content;
  margin: 50px auto;
}

.units {
  color: #D2A658;
  font-size: 20px;
}

.weather-app {
  padding: 35px;
  border-radius: 30px;
  background: linear-gradient(7deg, rgb(210,
    166,
    88) 0%, rgb(255, 255, 255) 100%);
  box-shadow: 9px 10px 18px rgba(0, 0, 0, 0.2);
}

.weather-temperature img {
  margin-right: 3px;
  height: 80px;
  width: 80px;
}

.weather-temperature strong {
font-size: 64px;
line-height: 1;
font-weight: 400;
}


.weather-forecast {
  margin-bottom: 20px;
  text-align: center;
}


.weather-forecast-date, 
.weather-forecast-temperature-min {
  color: #ffffff;  
  font-size: 18px;
  opacity: 0.7;
}

.weather-forecast-temperature-max {
  color: #ffffff;
  font-size: 18px;
}


#search-button {
  background: #D2A658;
  letter-spacing: 1px;
  font-size: 14px;
  text-align: center;
  height: 40px;
  color: #ffffff;
  border: none;
  border-radius: 20px;
  box-shadow: 9px 10px 18px rgba(0, 0, 0, 0.2);
}


#search-button:hover {
  background: rgba(210, 166, 88, 0.5);
  color: #Ffffff;
  padding: 0 10px;
  transition: all 200ms ease-in-out;
}

#button-current-location {
  background: #D2A658;
  letter-spacing: 1px;
  font-size: 14px;
  text-align: center;
  height: 40px;
  color: #ffffff;
  border: none;
  border-radius: 20px;
  box-shadow: 9px 10px 18px rgba(0, 0, 0, 0.2);
}

#button-current-location:hover {
  background: rgba(210, 166, 88, 0.5);
  color: #Ffffff;
  padding: 0 10px;
  transition: all 200ms ease-in-out;
}

#temperature {
  color: #D2A658;
}

#sky-description  {
  margin-top: 10px;
  margin-bottom: 15px;
  font-size: 30px;
}

#city-input {
  color: #ffffff;
  border-radius: 20px;
  height: 40px;
  background: rgba(210,
    166,
    88,
    0.5);
}

.the-real-feel {
  color: #ffffff;
}


input:placeholder-shown {
  border: 2px solid rgba(210,
    166,
    88,
    0.9);
  font-style: italic;
  font-size: 15px;
  border-radius: 20px;
  box-shadow: 14px 11px 26px rgba(59, 58, 58, 0.2);
}

.line {
  border: 2px solid #ffff;
  opacity: 0.3;
  border-radius: 5px;
  margin-bottom: 30px;
}

.line-2 {
  border: 2px solid #ffff;
}


.wind-humidity-feel {
  text-align: right;
}